body {
    position: relative;
    margin: 0;
    padding: 0;

    main {
        font-family: $second_font;

        #slider_background {
            position: relative;
            height: 100%;

            #pos_relative {
                position: relative;

                #pos_absolute {
                    font-family: $nineteen_font;
                    position: absolute;
                    top: 20%;
                    left: 13%;
                    right: 0;
                    bottom: 0;
                    z-index: 1;

                    .swiper_text {
                        margin: 0 15px;

                        h3 {
                            font-size: 41px;
                            font-weight: 400;
                            margin-bottom: 20px;
                            width: 80%;

                            span {
                                color: #ff0000;
                            }
                        }

                        p {
                            font-family: $twelwe_font;
                            line-height: 30px;
                            font-size: 17px;
                            color: #6d6a6a;
                            font-weight: 400;
                            margin-bottom: 25px;
                            width: 90%;

                            @media(max-width: 480px) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .swiper {
                width: 100%;
                height: 100%;

                .swiper-slide {
                    background-position: center;
                    background-size: cover;

                    .slider_image {
                        height: 100%;

                        img {
                            display: block;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;

                            @media(max-width: 1024px) {
                                height: 605px;
                            }

                            @media(max-width: 480px) {
                                object-position: center;
                            }
                        }
                    }

                    // .kenburneseffect {
                    //     width: 100%;
                    //     height: 65vh;
                    //     margin: 0 auto;
                    //     overflow: hidden;
                    //     position: relative;

                    //     img {
                    //         width: 100%;
                    //         animation: move 40s ease;
                    //         position: absolute;
                    //     }
                    //     @keyframes move {
                    //         0% {
                    //             transform-origin: center center;
                    //             transform: scale(1.0);
                    //         }

                    //         100% {
                    //             transform: scale(1.2);
                    //         }
                    //     }
                    // }
                }

                .swiper-button-next {
                    padding-right: 40px;

                    @media(max-width:1024px) {
                        padding: 0;
                        top: 4%;
                        height: 100%;
                        width: 100px;
                    }

                    img {
                        width: 60px;

                        @media(max-width:1024px) {
                            display: none;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }

                .swiper-button-prev {
                    padding-left: 40px;

                    @media(max-width:1024px) {
                        padding: 0;
                        top: 4%;
                        height: 100%;
                        width: 100px;
                    }

                    img {
                        width: 60px;

                        @media(max-width:1024px) {
                            display: none;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        #filtering {
            padding: 70px 0;

            ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                gap: 35px;

                li {
                    .button-value {
                        border: none;
                        background-color: transparent;
                        font-size: 12px;
                        color: #1b1b1b;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: all .5s ease;
                        cursor: pointer;

                        &:hover {
                            color: #f34f3f;
                        }

                    }

                    .active {
                        color: #f34f3f;
                    }
                }
            }

            .filter_mouse_on {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                span {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    cursor: pointer;

                    i {
                        margin-left: 10px;
                        font-size: 13px;
                    }
                }

                &:hover{
                    .filter_popup{
                        opacity: 1;
                        z-index: 3;
                    }
                }

                .filter_popup {
                    position: absolute;
                    opacity: 0;
                    top: 25px;
                    right: -8px;
                    display: flex;
                    gap: 30px;
                    color: #737373;
                    background-color: #fff;
                    text-align: left;
                    padding: 13px 30px 17px;
                    width: 424px;
                    transition: all .25s ease;
                    z-index: -1;

                    .sort_by {
                        display: inline-block;
                        vertical-align: top;
                        text-align: left;

                        h5 {
                            font-family: $nineteen_font;
                            font-size: 22px;
                            line-height: 1.363em;
                            margin: 20px 0;
                            color: #2b2b2b;
                        }

                        ul {
                            list-style: none;
                            margin: 15px 0;
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            li {
                                a {
                                    font-size: 13px;
                                    font-weight: 500;
                                    color: inherit;
                                    transition: color .2s ease-out;
                                    &:hover{
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .filter_card {
                margin-bottom: 50px;

                &:hover {
                    .card_items {
                        .card_action {
                            .card_btm_changing {
                                .card_cart {
                                    opacity: 1;
                                    transform: translateX(0px);
                                }

                                .card_price {
                                    opacity: 0;
                                    transform: translateX(70px);
                                }
                            }
                        }
                    }
                }

                .card_image {
                    width: 100%;
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        img {
                            transform: scale3d(1.02, 1.02, 1.02);
                        }
                    }

                    img {
                        width: 100%;
                        transition: all .25s ease;
                    }

                    .sold_banner {
                        font-family: $nineteen_font;
                        position: absolute;
                        top: 10px;
                        left: 12px;
                        right: 0;
                        background-color: #1b1b1b;
                        color: white;
                        width: 60px;
                        text-align: center;
                        line-height: 30px;
                    }

                    .sale_banner {
                        font-family: $nineteen_font;
                        position: absolute;
                        top: 10px;
                        left: 12px;
                        right: 0;
                        width: 60px;
                        text-align: center;
                        line-height: 30px;
                        background-color: white;
                    }

                    .new_banner {
                        font-family: $nineteen_font;
                        position: absolute;
                        top: 10px;
                        left: 12px;
                        right: 0;
                        width: 60px;
                        text-align: center;
                        line-height: 30px;
                        color: white;
                        background-color: #f34f3f;
                    }
                }

                .card_items {
                    margin-top: 23px;
                    text-align: center;

                    h6 {
                        font-size: 12px;
                        cursor: pointer;
                        letter-spacing: 1px;
                    }

                    .card_action {
                        .card_btm_changing {
                            width: 70px;
                            height: 24px;
                            display: flex;
                            position: relative;
                            margin: 0 auto;
                            overflow: hidden;

                            .card_cart {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 0;
                                transition: all .5s ease;
                                transform: translateX(-70px);
                                cursor: pointer;

                                span {
                                    font-size: 12px;
                                    color: #afafaf;
                                    font-weight: 500;
                                    transition: .3s ease-in-out;
                                }

                                &:hover {
                                    span {
                                        color: #f34f3f;
                                    }
                                }
                            }

                            .card_price {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                opacity: 1;
                                transition: all .2s ease;
                                transform: translateX(0px);

                                span {
                                    margin: 0 auto;
                                    font-size: 12px;
                                    color: #afafaf;
                                }

                                .oldprice {
                                    text-decoration: line-through !important;
                                }

                                .newprice {
                                    color: #1b1b1b;
                                    margin-left: 8px;
                                }
                            }
                        }

                    }
                }
            }

            .hide {
                display: none;
            }
        }
    }
}