$first_font: 'Poppins', sans-serif;
$second_font: 'Montserrat', sans-serif;
$third_font: 'Barlow Condensed', sans-serif;
$fourth_font: 'Cinzel Decorative', cursive;
$fifth_font: 'Michroma', sans-serif;
$sixth_font: 'IM Fell French Canon SC', serif;
$seventh_font: 'Eagle Lake', cursive;
$eighth_font: 'Bodoni Moda', serif;
$nineth_font: 'Limelight', cursive;
$tenth_font: 'Elsie Swash Caps', cursive;
$eleventh_font: 'Yeseva One', cursive;
$twelve_font: 'Roboto', sans-serif;
$thirteen_font: 'Lato', sans-serif;
$fourteen_font: 'BioRhyme Expanded', serif;
$fifteen_font: 'Literata', serif;
$sixteen_font: 'Newsreader', serif;
$seventeen_font: 'Noto Serif Display', serif;
$eighteen_font: 'Ultra', serif;
$nineteen_font: 'Playfair Display', serif;
$twelwe_font: 'Lora', serif;