#product_list {
    background-color: #fafaf9;
    height: 225px;

    .main_texts {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width:1024px) {
            margin-left: 30px;
        }

        h2 {
            font-size: 50px;
            font-family: $nineteen_font;
            font-weight: 300;

            @media(max-width:680px) {
                font-size: 36px;
            }
        }

        p {
            font-family: $twelwe_font;
            font-style: italic;
            font-size: 17px;
            color: #6d6a6a;
            margin-top: 8px;
        }
    }
}

#standard_product {
    padding: 80px 0 0 0;
    font-family: $second_font;

    .small_image {
        width: 118px;
        padding-bottom: 20px;
        margin: 0 0px 0 15px;
        @media(max-width:1024px) {
            margin-left: 30px;
        }

        img {
            width: 118px;
            height: 145px;
            object-fit: cover;

            @media(max-width:1200px) {
                width: 118px;
                height: 83px;
            }
        }
    }

    #big_photo{
        @media(max-width:1024px) {
            margin-left: 13px;
        }
    }

    .big_image {
        width: 100%;

        @media(max-width:1200px) {
            padding: 0 0 0 15px;
        }

        img {
            width: 100%;
            height: 640px;
            object-fit: cover;

            @media(max-width:1200px) {
                width: 305px;
                height: 394px;
            }
        }
    }

    .right_addcart_side {
        padding-left: 50px;

        h2 {
            font-size: 38px;
            font-weight: 300;
            color: #2b2b2b;
            font-family: $nineteen_font;
            margin-bottom: 5px;
        }

        .product_price2 {
            color: #afafaf;
            font-size: 15px;
        }

        .product_long_text {
            font-size: 15px;
            color: #6d6a6a;
            font-family: $twelwe_font;
            margin: 23px 0 32px;
        }

        .addtocart_container {
            display: flex;

            .quantity_field {
                display: flex;
                width: 249px;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #eee;
                padding: 0 22px;

                .quantity {
                    font-size: 12px;
                    color: #999999;
                }

                .count_changing_field {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        color: #999999;
                        font-size: 15px;
                        
                        i {
                            font-size: 10px;
                            transition: .3s ease-in-out;
                            cursor: pointer;
                        }
                        &:hover{
                            i{
                                color: #f34f3f;
                            }
                        }
                    }
                    .count_number{
                        padding-top: 3px;
                    }
                }
            }

            button {
                padding: 14px 42px;
                border: none;
                background-color: #080808;
                transition: all .25s ease;
                color: white;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 1.833em;
                font-weight: 500;

                &:hover {
                    background-color: #232323;
                }
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 32px;
            li{
              font-size: 12px;
              padding-bottom: 12px;
              font-weight: 500;
              span{
                color: #8b8b8b;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover{
                    color: #f34f3f;
                }
              }
            }
        }
    }
    .big_buttons{
        margin: 0 0 0 3px;
        padding: 0;
        list-style: none;
        display: flex;
        li{
            padding: 15px 47px;
            border: 1px solid #eee;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 500;
            border-bottom: none;
            cursor: pointer;
        }
        .additional_info{
            border-left: none;
            border-right: none;
        }
    }
}