#product_list {
    background-color: #fafaf9;
    height: 225px;

    .main_texts {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width:1024px) {
            margin-left: 30px;
        }

        h2 {
            font-size: 50px;
            font-family: $nineteen_font;
            font-weight: 300;

            @media(max-width:680px) {
                font-size: 36px;
            }
        }

        p {
            font-family: $twelwe_font;
            font-style: italic;
            font-size: 17px;
            color: #6d6a6a;
            margin-top: 8px;
        }
    }
}

#standard_product {
    padding: 80px 0 0 0;
    font-family: $second_font;
    @media(max-width:680px){
        padding: 80px 40px 0 40px;
    }
    
    #col_with_photos{
        @media(max-width: 992px){
            margin-bottom: 20px;
        }
        @media(max-width: 768px){
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
        #small_photos_flex{
            @media (max-width:768px){
                display: flex;
                width: 100%;
                margin-bottom: 15px;
                //flex-wrap: wrap;
                gap: 26px;
            }
            @media (max-width:576px){
                flex-wrap: wrap;
                gap: 15px;
            }
        }
    }
    .small_image {
        width: 118px;
        padding-bottom: 20px;
        margin: 0 0px 0 15px;
        @media(max-width:1024px) {
            margin-left: 30px;
        }
        @media(max-width:768px) {
            margin-left:0px;
            width: 33%;
            padding-bottom: 0px;
        }
        @media(max-width:576px) {
            margin-left:0px;
            width: 48%;
        }
        @media(max-width:454px) {
            margin-left:0px;
            width: 47.5%;
        }
        @media(max-width:380px) {
            margin-left:0px;
            width: 47.3%;
        }

        img {
            width: 118px;
            height: 145px;
            object-fit: cover;

            @media(max-width:1200px) {
                width: 118px;
                height: 83px;
            }
            @media(max-width:992px) {
                width: 118px;
                height: 155px;
            }
            @media(max-width:768px) {
                width: 100%;
                height: 130px;
            }
            @media(max-width:576px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    #big_photo{
        @media(max-width:1024px) {
            margin-left: 13px;
        }
        @media(max-width:768px) {
            margin-left: 0px;
        }
    }

    .big_image {
        width: 100%;

        @media(max-width:1200px) {
            padding: 0 0 0 15px;
        }
        @media (max-width:768px){
            padding: 0 0 0 0px;
            width: 100%;
        }

        img {
            width: 100%;
            height: 640px;
            object-fit: cover;

            @media(max-width:1200px) {
                width: 305px;
                height: 394px;
            }
            @media(max-width:992px) {
                width: 510px;
                height: 680px;
            }
            @media(max-width:768px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    .right_addcart_side {
        padding-left: 50px;
        @media(max-width:1200px){
            padding-left: 0;
        }
        @media(max-width:1024px){
            padding-left: 20px;
        }
        @media(max-width:768px) {
            padding-left: 0px;
           
        }

        h2 {
            font-size: 38px;
            font-weight: 300;
            color: #2b2b2b;
            font-family: $nineteen_font;
            margin-bottom: 5px;
        }

        .product_price2 {
            color: #afafaf;
            font-size: 15px;
        }

        .product_long_text {
            font-size: 15px;
            color: #6d6a6a;
            font-family: $twelwe_font;
            margin: 23px 0 32px;
        }

        .addtocart_container {
            display: flex;
            @media(max-width:576px){
                flex-wrap: wrap;
            }

            .quantity_field {
                display: flex;
                width: 249px;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #eee;
                padding: 0 22px;
                @media(max-width:576px){
                    width: 100%;
                    padding: 12px 22px;
                    margin-bottom: 20px;
                }

                .quantity {
                    font-size: 12px;
                    color: #999999;
                }

                .count_changing_field {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        color: #999999;
                        font-size: 15px;
                        
                        i {
                            font-size: 10px;
                            transition: .3s ease-in-out;
                            cursor: pointer;
                        }
                        &:hover{
                            i{
                                color: #f34f3f;
                            }
                        }
                    }
                    .count_number{
                        padding-top: 3px;
                    }
                }
            }

            button {
                padding: 14px 42px;
                border: none;
                background-color: #080808;
                transition: all .25s ease;
                color: white;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 1.833em;
                font-weight: 500;

                &:hover {
                    background-color: #232323;
                }
            }
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 32px;
            li{
              font-size: 12px;
              padding-bottom: 12px;
              font-weight: 500;
              span{
                color: #8b8b8b;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover{
                    color: #f34f3f;
                }
              }
            }
        }
    }
    .big_buttons{
        margin: 0 0 0 3px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            padding: 15px 47px;
            border: 1px solid #eee;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 500;
            border-bottom: none;
            cursor: pointer;
            @media(max-width:400px){
                padding: 15px 20px;
            }
        }
        #additional_info{
            border-left: none;
            border-right: none;
            @media(max-width: 768px){
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                border-bottom: 1px solid #eee;

            }
        }
        .selected{
            background-color: #f34f3f;
            color: white;
        }
    }
}

#d_none_block{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 73px 0 80px 0;
    @media(max-width:680px){
        padding: 73px 40px 80px 40px;
    }
    .first_d_none{
        h3{
            font-family: $nineteen_font;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: 300;
        }
        p{
            font-family: $twelwe_font;
            font-size: 15px;
            color: #6d6a6a;
            line-height: 1.6em;
            font-weight: 500;
            letter-spacing: .4px;
        }
    }
    .second_d_none{
        margin-left: 5px;
        display: none;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                font-size: 12px;
                color: #2b2b2b;
                font-weight: 700;
                margin-bottom: 10px;
            }
            
        }
        .deyerler{
            padding: 0 0 0 10px;
            .deyer{
                font-weight: 400;
                margin-bottom: 10px;
                }
        }
    }
    .third_d_none{
        margin-left: 15px;
        display: none;
        h3{
            font-size: 30px;
            font-family: $nineteen_font;
            margin-bottom: 60px;
            font-weight: 300;
        }
        .avatar_line{
            display: flex;
            margin-bottom: 25px;
            .person_avatar{
                img{
                    width: 70px;
                    height: 70px;
                }
            }
            .person_info{
                margin-left: 20px;
                .up_info{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 15px;
                    h6{
                        font-size: 12px;
                        color: #1b1b1b;
                        letter-spacing: 1px;
                        margin-bottom: 0;
                    }
                    span{
                        color: #afafaf;
                        font-size: 10px;
                        letter-spacing: 2px;
                    }
                }
                p{
                    color: #6d6a6a;
                    font-size: 15.5px;
                    font-family: $twelwe_font;
                    line-height: 1.6em;
                    letter-spacing: .5px;
                }
            }
        }
        .form_container{
            margin-top: 36px;
            h3{
                margin-bottom: 12px;
            }
            p{
                font-size: 15.5px;
                letter-spacing: .4px;
                font-family: $twelwe_font;
                color: #6d6a6a;
                margin-bottom: 5px;
            }
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                input{
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 19px 18px;
                    border: 1px solid #e8e8e8;
                }
                textarea{
                    width: 100%;
                    height: 150px;
                    margin-bottom: 15px;
                    padding: 16px 18px;
                    border: 1px solid #e8e8e8;
                }
                input[type=checkbox]{
                    width: 13px;
                    height: 13px;
                    margin-bottom: 5px;
                }
                label{
                    font-family: $twelwe_font;
                    font-size: 15px;
                    color: #6d6a6a;
                    letter-spacing: .4px;
                    margin-bottom: 5px;
                }
                button{
                    width: 144px;
                    height: 50px;
                    margin-top: 20px;
                    border: none;
                    background-color: #f34f3f;
                    transition: .3s ease-in-out;
                    color: white;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 500;
                    &:hover{
                        background-color: #ff3d2a;
                    }
                }
            }
        }
    }
}

#related_products{
    padding: 120px 0 60px 0;
    @media(max-width:680px){
        padding: 120px 40px 60px 40px;
    }
    h5{
        font-size: 12px;
        font-family: $second_font;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }
    .filter_card {
        margin-bottom: 50px;
    
        &:hover {
            .card_items {
                .card_action {
                    .card_btm_changing {
                        .card_cart {
                            opacity: 1;
                            transform: translateX(0px);
                        }
    
                        .card_price {
                            opacity: 0;
                            transform: translateX(70px);
                        }
                    }
                }
            }
        }
    
        .card_image {
            width: 100%;
            cursor: pointer;
            position: relative;
    
            &:hover {
                img {
                    transform: scale3d(1.02, 1.02, 1.02);
                }
            }
    
            img {
                width: 100%;
                transition: all .25s ease;
            }
    
            .sold_banner {
                font-family: $nineteen_font;
                position: absolute;
                top: 10px;
                left: 12px;
                right: 0;
                background-color: #1b1b1b;
                color: white;
                width: 60px;
                text-align: center;
                line-height: 30px;
            }
    
            .sale_banner {
                font-family: $nineteen_font;
                position: absolute;
                top: 10px;
                left: 12px;
                right: 0;
                width: 60px;
                text-align: center;
                line-height: 30px;
                background-color: white;
            }
    
            .new_banner {
                font-family: $nineteen_font;
                position: absolute;
                top: 10px;
                left: 12px;
                right: 0;
                width: 60px;
                text-align: center;
                line-height: 30px;
                color: white;
                background-color: #f34f3f;
            }
        }
    
        .card_items {
            margin-top: 23px;
            text-align: center;
    
            h6 {
                font-size: 12px;
                cursor: pointer;
                letter-spacing: 1px;
            }
    
            .card_action {
                .card_btm_changing {
                    width: 70px;
                    height: 24px;
                    display: flex;
                    position: relative;
                    margin: 0 auto;
                    overflow: hidden;
    
                    .card_cart {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        opacity: 0;
                        transition: all .5s ease;
                        transform: translateX(-70px);
                        cursor: pointer;
    
                        span {
                            font-size: 12px;
                            color: #afafaf;
                            font-weight: 500;
                            transition: .3s ease-in-out;
                        }
    
                        &:hover {
                            span {
                                color: #f34f3f;
                            }
                        }
                    }
    
                    .card_price {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        opacity: 1;
                        transition: all .2s ease;
                        transform: translateX(0px);
    
                        span {
                            margin: 0 auto;
                            font-size: 12px;
                            color: #afafaf;
                        }
    
                        .oldprice {
                            text-decoration: line-through !important;
                        }
    
                        .newprice {
                            color: #1b1b1b;
                            margin-left: 8px;
                        }
                    }
                }
    
            }
        }
    }
}

