#get_in_touch{
    padding: 120px 0 70px 0;
    @media(max-width:680px){
        padding: 120px 50px;
    }
    .grey_card{
        background-color: #f8f8f8;
        padding: 50px 60px;
        margin-bottom: 50px;
        .person_photo{
            display: flex;
            justify-content: center;
        }
        .card_bottom{
            text-align: center;
            margin: 15px 0 40px 0;
            h2{
                font-size: 38px;
                font-family: $nineteen_font;
                line-height: 55px;
                font-weight: 300;
                @media(max-width:680px){
                    font-size: 30px;
                    line-height: 40px;
                }
                span{
                    color: #f34f3f;
                }
            }
            p{
              font-family: $twelwe_font;
              color: #6d6a6a;
              font-size: 17px;
              margin: 29px 0 0px 0;
              line-height: 1.6em;
            }
        }
        .sign{
            display: flex;
            justify-content: center;
        }
    }
    .register_side{
        padding: 5px 0 0 35px;
        @media(max-width:992px){
            padding: 0;
        }
        .top_text{
            margin-bottom: 30px;
            h2{
                font-family: $nineteen_font;
                font-size: 38px;
                margin-bottom: 30px;
                font-weight: 300;
                @media(max-width:680px){
                    font-size: 30px;
                }
            }
            p{
                font-size: 15px;
                font-family: $twelwe_font;
                color: #6d6a6a;
                margin: 0;
            }
        }
        .register_container{
            form{
                display: flex;
                gap: 15px;
                flex-direction: column;
                outline: none;
                input{
                    padding: 19px 18px;
                    color: #959595;
                    border: 1px solid #e8e8e8;
                    font-size: 12px;
                }
                textarea{
                    border: 1px solid #e8e8e8;
                    padding: 19px 18px;
                    font-size: 12px;
                    color: #959595;
                    height: 130px;
                }
                button{
                    margin-top: 5px;
                    width: 32%;
                    background-color: #f34f3f;
                    color: white;
                    border: none;
                    font-weight: 500;
                    height: 60px;
                    line-height: 60px;
                    letter-spacing: .1em;
                    font-size: 12px;
                    transition: all .25s ease;
                    @media(max-width:992px){
                        width: 40%;
                    }
                    @media(max-width:520px){
                        width: 60%;
                    }
                    &:hover{
                        background-color: #ff3d2a;
                    }
                }
            }
        }
    }
}

