main {
    font-family: $second_font;

    #grey_space {
        background-color: #fafaf9;
        padding: 60px 0;

        .grey_space_text {
            h2 {
                font-size: 50px;
                font-family: $nineteen_font;
                font-weight: 300;
                margin-bottom: 10px;
            }

            p {
                font-size: 17px;
                font-style: italic;
                font-family: $twelwe-font;
                color: #6d6a6a;
            }
        }
    }

    #listofproducts {
        padding: 80px 0 100px 0;

        .left_part {
            margin-top: 12px;

            .prod_categories {
                margin-bottom: 50px;

                h6 {
                    font-size: 12px;
                    margin-bottom: 25px;
                    letter-spacing: 1px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        font-size: 12px;
                        color: #8b8b8b;
                        cursor: pointer;
                        margin-bottom: 10px;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: #f34f3f;
                        }
                    }

                    .active {
                        color: #f34f3f;
                    }
                }
            }

            .recently_viewed {
                margin-bottom: 40px;

                h6 {
                    font-size: 12px;
                    letter-spacing: 1px;
                    margin-bottom: 30px;
                }

                .viewed_card {
                    display: flex;

                    .micro_img {
                        img {
                            width: 50px;
                            height: 66px;
                        }
                    }

                    .micro_card_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-left: 13px;

                        h6 {
                            margin-bottom: 10px;
                            cursor: pointer;
                            transition: .3s ease-in-out;

                            &:hover {
                                color: #f34f3f;
                            }
                        }

                        span {
                            color: #afafaf;
                            font-size: 12px;
                        }

                    }
                }
            }

            .price_slider {
                span {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1px;
                }

                .slider_line {
                    margin-top: 15px;
                    height: 1px;
                    border: 1.2px solid black;
                    color: transparent;
                    background-color: black;
                    position: relative;
                    width: 265px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -4px;
                        border-radius: 50%;
                        left: -2px;
                        right: 0;
                        bottom: 0;
                        width: 8px;
                        height: 8px;
                        background-color: black;
                        cursor: pointer;
                    }

                    &::after {
                        cursor: pointer;
                        content: "";
                        position: absolute;
                        top: -4px;
                        border-radius: 50%;
                        left: 100%;
                        right: 0px;
                        bottom: 0;
                        width: 8px;
                        height: 8px;
                        background-color: black;
                    }
                }

                .slider_info {
                    display: flex;
                    gap: 110px;
                    margin-top: 20px;
                    align-items: center;

                    small {
                        color: #6d6a6a;
                        font-size: 12px;
                    }

                    a {
                        color: #1b1b1b;
                        font-size: 12px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: #f34f3f;
                        }
                    }
                }
            }
        }

        p {
            font-size: 12px;
            color: #8b8b8b;
            margin-bottom: 0;
        }

        .serpen_sortia {
            display: flex;
            justify-content: end;

            .select_option {
                position: relative;
                .select_heading {
                    border: 1px solid #e8e8e8;
                    cursor: pointer;
                    width: 248px;
                    height: 42px;
                    align-items: center;
                    padding: 0 10px 0 20px;
                    color: #999999;
                    justify-content: space-between;
                    display: flex;
                    h5 {
                        font-size: 12px;
                        margin-bottom: 0;
                        font-weight: 400;
                    }

                    i {
                        font-size: 11px;
                    }
                }
                .sorting_popup_dnone{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    width: 248px;
                    z-index: 2;
                    background-color: white;
                    border: 1px solid #e8e8e8;
                    border-top: none;
                    display: none;
                    ul{
                        font-size: 12px;
                        font-weight: 400;
                        color: #999;
                        padding: 2px 21px;
                        margin: 5px 0;
                        list-style: none;
                        li{
                            padding: 10px 0;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            &:hover{
                                color: #2b2b2b;
                            }
                        }
                    }
                }
                .hiding{
                    display: block;
                }

            }
        }

        .filter_card {
            margin-bottom: 50px;

            &:hover {
                .card_items {
                    .card_action {
                        .card_btm_changing {
                            .card_cart {
                                opacity: 1;
                                transform: translateX(0px);
                            }

                            .card_price {
                                opacity: 0;
                                transform: translateX(70px);
                            }
                        }
                    }
                }
            }

            .card_image {
                width: 100%;
                cursor: pointer;
                position: relative;

                &:hover {
                    img {
                        transform: scale3d(1.02, 1.02, 1.02);
                    }
                }

                img {
                    width: 100%;
                    transition: all .25s ease;
                }

                .sold_banner {
                    font-family: $nineteen_font;
                    position: absolute;
                    top: 10px;
                    left: 12px;
                    right: 0;
                    background-color: #1b1b1b;
                    color: white;
                    width: 60px;
                    text-align: center;
                    line-height: 30px;
                }

                .sale_banner {
                    font-family: $nineteen_font;
                    position: absolute;
                    top: 10px;
                    left: 12px;
                    right: 0;
                    width: 60px;
                    text-align: center;
                    line-height: 30px;
                    background-color: white;
                }

                .new_banner {
                    font-family: $nineteen_font;
                    position: absolute;
                    top: 10px;
                    left: 12px;
                    right: 0;
                    width: 60px;
                    text-align: center;
                    line-height: 30px;
                    color: white;
                    background-color: #f34f3f;
                }
            }

            .card_items {
                margin-top: 23px;
                text-align: center;

                h6 {
                    font-size: 12px;
                    cursor: pointer;
                    letter-spacing: 1px;
                }

                .card_action {
                    .card_btm_changing {
                        width: 70px;
                        height: 24px;
                        display: flex;
                        position: relative;
                        margin: 0 auto;
                        overflow: hidden;

                        .card_cart {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            opacity: 0;
                            transition: all .5s ease;
                            transform: translateX(-70px);
                            cursor: pointer;

                            span {
                                font-size: 12px;
                                color: #afafaf;
                                font-weight: 500;
                                transition: .3s ease-in-out;
                            }

                            &:hover {
                                span {
                                    color: #f34f3f;
                                }
                            }
                        }

                        .card_price {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            opacity: 1;
                            transition: all .2s ease;
                            transform: translateX(0px);

                            span {
                                margin: 0 auto;
                                font-size: 12px;
                                color: #afafaf;
                            }

                            .oldprice {
                                text-decoration: line-through !important;
                            }

                            .newprice {
                                color: #1b1b1b;
                                margin-left: 8px;
                            }
                        }
                    }

                }
            }
        }

        .hide {
            display: block;
        }

        .pagination_numbers{
            justify-content: center;
            align-items: center;
            display: flex;
            span{
                width: 15px;
                height: 25px;
                text-align: center;
                line-height: 20px;
                cursor: pointer;
                color: #afafaf;
                font-size: 12px;
                &:hover{
                    color: #f34f3f;
                }
            }
            .next_page{
                font-size: 17px;
                color: #595858;
                margin-left: 5px;
            }
        }
    }
}