html,
body {
  overflow-x: hidden;
}
html #desktop_nav,
body #desktop_nav {
  font-family: "Montserrat", sans-serif;
  height: 115px;
  background-color: white;
}
@media (max-width: 1200px) {
  html #desktop_nav,
body #desktop_nav {
    height: 100%;
    padding: 45px 0;
  }
}
@media (max-width: 1024px) {
  html #desktop_nav,
body #desktop_nav {
    display: none;
  }
}
html #desktop_nav #nav_flex,
body #desktop_nav #nav_flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  html #desktop_nav #nav_flex,
body #desktop_nav #nav_flex {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 1200px) {
  html #desktop_nav #nav_flex,
body #desktop_nav #nav_flex {
    height: 100%;
    flex-direction: column;
    gap: 90px;
  }
}
html #desktop_nav .left_desk_nav,
body #desktop_nav .left_desk_nav {
  height: 100%;
}
@media (max-width: 1024px) {
  html #desktop_nav .left_desk_nav,
body #desktop_nav .left_desk_nav {
    margin-left: 30px;
  }
}
html #desktop_nav .left_desk_nav .logo,
body #desktop_nav .left_desk_nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
html #desktop_nav .left_desk_nav .logo img,
body #desktop_nav .left_desk_nav .logo img {
  width: 212px;
  height: 25px;
}
html #desktop_nav .right_desk_nav,
body #desktop_nav .right_desk_nav {
  height: 100%;
  display: flex;
  gap: 15px;
}
@media (max-width: 1200px) {
  html #desktop_nav .right_desk_nav,
body #desktop_nav .right_desk_nav {
    justify-content: flex-end;
  }
}
@media (max-width: 1024px) {
  html #desktop_nav .right_desk_nav,
body #desktop_nav .right_desk_nav {
    margin-right: 30px;
  }
}
html #desktop_nav .right_desk_nav ul,
body #desktop_nav .right_desk_nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
html #desktop_nav .right_desk_nav ul .active_focused .active_home,
body #desktop_nav .right_desk_nav ul .active_focused .active_home {
  position: relative;
}
html #desktop_nav .right_desk_nav ul .active_focused .active_home::after,
body #desktop_nav .right_desk_nav ul .active_focused .active_home::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.5px;
  width: 100%;
  background-color: #727272;
}
html #desktop_nav .right_desk_nav ul li,
body #desktop_nav .right_desk_nav ul li {
  height: 100%;
  cursor: pointer;
  padding: 0 30px;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 1200px) {
  html #desktop_nav .right_desk_nav ul li,
body #desktop_nav .right_desk_nav ul li {
    padding: 0 25px;
  }
}
html #desktop_nav .right_desk_nav ul li .active_home,
body #desktop_nav .right_desk_nav ul li .active_home {
  display: flex;
  align-items: center;
  height: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #1b1b1b;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
html #desktop_nav .right_desk_nav ul li .nav_element,
body #desktop_nav .right_desk_nav ul li .nav_element {
  display: flex;
  align-items: center;
  height: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #1b1b1b;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
html #desktop_nav .right_desk_nav ul li .nav_element::before,
body #desktop_nav .right_desk_nav ul li .nav_element::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.5px;
  width: 100%;
  background-color: #727272;
  transform: translateX(-100%);
  transition: all 0.25s ease;
}
html #desktop_nav .right_desk_nav ul li:hover .nav_element::before,
body #desktop_nav .right_desk_nav ul li:hover .nav_element::before {
  transform: translateX(0%);
}
html #desktop_nav .right_desk_nav ul li:hover .second_h0,
body #desktop_nav .right_desk_nav ul li:hover .second_h0 {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}
html #desktop_nav .right_desk_nav ul li .second_h0,
body #desktop_nav .right_desk_nav ul li .second_h0 {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  display: block;
  left: 3px;
  top: 100%;
  z-index: 10;
  transition: all 0.25s ease;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  padding: 19px 0;
  list-style: none;
  margin: 0;
  text-align: left;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li {
  width: 210px;
  display: block;
  float: none;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: none;
  margin: 0;
  padding: 8px 26px;
  font-size: 13px;
  color: #737373;
  line-height: 19px;
  font-weight: 500;
  transition: 0.2s ease-out;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .underlined_active,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .underlined_active {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .underlined_active::before,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .underlined_active::before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  margin: auto;
  width: 100%;
  background-color: #727272;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .item_text,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .item_text::before,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a .item_text::before {
  content: "";
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  margin: auto;
  transition: 0.2s ease-in-out;
  width: 100%;
  background-color: #727272;
  transform: translateX(-100%);
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a i,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a i {
  font-size: 8px;
  color: black;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a:hover .item_text::before,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li a:hover .item_text::before {
  transform: translateX(0%);
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav {
  position: absolute;
  left: 100%;
  top: -19px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transform: translateZ(0);
  transition: opacity 0.4s ease-out;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav li,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav li {
  width: 210px;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav li a,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li .third_subnav li a {
  display: block;
  float: none;
  margin: 0;
  padding: 8px 26px;
  font-size: 13px;
  color: #737373;
  line-height: 19px;
}
html #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li:hover .third_subnav,
body #desktop_nav .right_desk_nav ul li .second_h0 .inner_nav_items ul li:hover .third_subnav {
  z-index: 20;
  opacity: 1;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil {
  right: 3px;
  left: auto;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li {
  position: relative;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .right_align,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .right_align {
  display: flex;
  justify-content: space-between;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right {
  position: absolute;
  left: -100%;
  top: -19px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  padding: 19px 0;
  display: inline-block;
  vertical-align: middle;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  transform: translateZ(0);
  transition: opacity 0.4s ease-out;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right li,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right li {
  width: 210px;
  display: block;
  float: none;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right li a,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li .third_subnav_right li a {
  display: block;
  float: none;
  margin: 0;
  padding: 8px 26px;
  font-size: 13px;
  color: #737373;
  line-height: 19px;
  text-align: right;
  font-weight: 500;
}
html #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li:hover .third_subnav_right,
body #desktop_nav .right_desk_nav ul li #ferqlenen_zibil .inner_nav_items ul li:hover .third_subnav_right {
  z-index: 20;
  opacity: 1;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu {
  left: -648.875px;
  width: 1300px;
  z-index: 20px;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items {
  text-align: center;
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  vertical-align: middle;
  padding: 40px 0 45px;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu::-webkit-scrollbar,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu::-webkit-scrollbar {
  display: none;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 {
  clear: both;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 52px;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 a,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 a {
  height: 40px;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 a h4,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 a h4 {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  color: #1b1b1b;
}
html #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 ul,
body #desktop_nav .right_desk_nav ul li .pop_up_central_menu .inner_nav_items .shop_menu #nav_menu_item_1 ul {
  box-shadow: none;
}
html #desktop_nav .right_desk_nav .nav_action,
body #desktop_nav .right_desk_nav .nav_action {
  display: flex;
  gap: 23px;
}
html #desktop_nav .right_desk_nav .nav_action .nav_search,
body #desktop_nav .right_desk_nav .nav_action .nav_search {
  transform: scale(-1, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
}
html #desktop_nav .right_desk_nav .nav_action .nav_search i,
body #desktop_nav .right_desk_nav .nav_action .nav_search i {
  font-size: 18px;
  transition: all 0.25s ease;
}
html #desktop_nav .right_desk_nav .nav_action .nav_search:hover i,
body #desktop_nav .right_desk_nav .nav_action .nav_search:hover i {
  color: #f34f3f;
}
html #desktop_nav .right_desk_nav .nav_action .my_cart,
body #desktop_nav .right_desk_nav .nav_action .my_cart {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
html #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon,
body #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon {
  position: relative;
  display: flex;
}
html #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon iconify-icon,
body #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon iconify-icon {
  font-size: 23px;
  color: #727272;
}
html #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon .red_cart_banner,
body #desktop_nav .right_desk_nav .nav_action .my_cart .cart_icon .red_cart_banner {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 13px;
  height: 13px;
  background-color: #f34f3f;
  font-size: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 50%;
  text-align: center;
}
html #desktop_nav .right_desk_nav .nav_action .my_cart p,
body #desktop_nav .right_desk_nav .nav_action .my_cart p {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: 500;
  color: #1b1b1b;
  font-size: 12px;
  white-space: nowrap;
}
html #mobile_nav,
body #mobile_nav {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  padding: 22px 0;
  display: none;
  z-index: 3;
  position: relative;
}
@media (max-width: 1024px) {
  html #mobile_nav,
body #mobile_nav {
    display: flex;
    background-color: white;
    width: 100%;
  }
}
html #mobile_nav .nav-items,
body #mobile_nav .nav-items {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 1024px) {
  html #mobile_nav .nav-items .logo,
body #mobile_nav .nav-items .logo {
    margin-left: 30px;
  }
}
@media (max-width: 350px) {
  html #mobile_nav .nav-items .logo,
body #mobile_nav .nav-items .logo {
    margin-left: 0;
  }
}
html #mobile_nav .nav-items .logo img,
body #mobile_nav .nav-items .logo img {
  width: 212px;
  height: 25px;
}
html #mobile_nav .nav-items .burger_icon,
body #mobile_nav .nav-items .burger_icon {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  html #mobile_nav .nav-items .burger_icon,
body #mobile_nav .nav-items .burger_icon {
    margin-right: 30px;
  }
}
@media (max-width: 350px) {
  html #mobile_nav .nav-items .burger_icon,
body #mobile_nav .nav-items .burger_icon {
    margin-right: 0;
  }
}
html #mobile_nav .nav-items .burger_icon .open-menu,
body #mobile_nav .nav-items .burger_icon .open-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html #mobile_nav .nav-items .burger_icon .open-menu iconify-icon,
body #mobile_nav .nav-items .burger_icon .open-menu iconify-icon {
  font-size: 20px;
}
html #mobile_nav .nav-items #menu-body,
body #mobile_nav .nav-items #menu-body {
  padding: 56px 51px 80px 75px;
  list-style: none;
  margin: 0;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 100%;
  right: 0;
  width: 420px;
  height: 100%;
  box-shadow: 0 1px 23.28px 0.72px rgba(255, 51, 102, 0.07);
  display: flex;
  opacity: 0;
  flex-direction: column;
  transition: all 0.2s ease;
}
@media (max-width: 420px) {
  html #mobile_nav .nav-items #menu-body,
body #mobile_nav .nav-items #menu-body {
    width: 100%;
  }
}
html #mobile_nav .nav-items #menu-body .close_button,
body #mobile_nav .nav-items #menu-body .close_button {
  position: absolute;
  top: 20px;
  left: 90%;
  right: 0;
  bottom: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 1;
}
@media (max-width: 380px) {
  html #mobile_nav .nav-items #menu-body .close_button,
body #mobile_nav .nav-items #menu-body .close_button {
    left: 85%;
  }
}
html #mobile_nav .nav-items #menu-body .close_button .fa-xmark,
body #mobile_nav .nav-items #menu-body .close_button .fa-xmark {
  font-size: 20px;
  color: #f34f3f;
}
html #mobile_nav .nav-items #menu-body li,
body #mobile_nav .nav-items #menu-body li {
  display: flex;
  align-items: center;
}
html #mobile_nav .nav-items #menu-body li a,
body #mobile_nav .nav-items #menu-body li a {
  color: #322e43;
  font-size: 12.5px;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 11px 0;
  margin-right: 2px;
  height: 46px;
  display: flex;
  align-items: center;
}
html #mobile_nav .nav-items #menu-body li .home_line,
body #mobile_nav .nav-items #menu-body li .home_line {
  position: relative;
}
html #mobile_nav .nav-items #menu-body li .home_line::before,
body #mobile_nav .nav-items #menu-body li .home_line::before {
  content: "";
  position: absolute;
  top: 29.5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #727272;
  height: 1px;
}
html #mobile_nav .nav-items #menu-body li i,
body #mobile_nav .nav-items #menu-body li i {
  font-size: 9px;
  color: #727272;
}

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none !important;
}/*# sourceMappingURL=style.css.map */